/* MADE BY MIKXINGU */
:root {
    --color-red: #4E0504;
    --color-ice: #E5E7E6;
    --color-ice-darker: #A0A7A3;
    --color-grey: #B7B5B3;
    --color-chocolate-black: #141301;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* WHITE TEXT THROUGHOUT */
 
body {
    font-family: "lato", sans-serif;
    color:var(--color-chocolate-black); 
}

/* Make all link text black with no text decoration */
a {
    color: var(--color-chocolate-black);
    text-decoration: none;
}

h1 {
    color: var(--color-chocolate-black);
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.2;
}

h2 {
    font-size: 25px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

p {
    font-size: 30px;
}

/* All images must no be larger than parent container */
img{
    width: 100%;
}

/* No styling on list items */
li {
    list-style-type: none;
}

p {
    font-size: 20px;
    margin: 10px 0;
}

/* Centers it, sets a maximum width and makes sure elements can flow past it */

.container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: visible;
}

/* Sets background color, height and padding */
.navbar {
    background-color: var(--color-grey);
    height: 70px;
    padding: 0 30px;
}


/* Sets font size, reduces font weight, adds marging and line height */

.navbar h1 {
    color: var(--color-chocolate-black);
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.navbar ul {
    display: flex;
}

/* Changes the color of both links to white, adds padding between them and margin as well */
.navbar a {
    color: var(--color-chocolate-black);
    padding: 9px;
    margin: 0 10px;
}

.navbar a:hover {
    color: var(--color-chocolate-black);
    border-bottom: 3px solid var(--color-chocolate-black);

}

.showcase {
    height: 500px;
    background-color: var(--color-grey);
}

.showcase p {
    margin-bottom: 30px;
}

.showcase img {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, .2);
}

.showcase-form {
    margin: auto;
    padding-left: 7px;
}

.little-info {
    font-size: 15px;
    font-family: "poppins", sans-serif;
}

.showcase input[type='email'] {
    padding: 10px 70px 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    padding-left: 6px;
}

.btn {
    border-radius: 6px;
    padding: 12px 20px;
    background: var(--color-red);
    border: none;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.grid {
    overflow: visible;
    display: grid;
    grid-template-columns: 60% 40%;
}

.grid-item-1,
.grid-item-2 {
    position: relative;
    top: 50px;
}

/* Centers the container, sets a maximum width */
.lower-container {
    margin: 120px auto;
    padding: 0;
    max-width: 1400px;
}

.title {
    color: black;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

.text{
    color: black;
    font-size: 19px;
    width: 100%;
    padding: 10px;
    margin: 0, 20px;
    text-align: justify;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.stats {
    padding: 40px 50px;
    text-align: center;
  }

.stats .fa {
    color: var(--color-red);
}

.stat {
    margin: 0 20px;
    text-align: center;
    width: 500px;
}

.testimonial {
    color: black;
    padding: 40px;
}

.testimonial img {
    height: 100%;
    clip-path: circle();
}

.testimonial h3 {
    text-align: center;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -7px -7px 20px rgba(0, 0, 0, .2),
                 7px  7px 20px rgba(0, 0, 0, .2);
}

.circle {
    background-color: transparent;
    border: 3px solid var(--color-red);
    height: 90px;
    position: relative;
    top: -30px;
    left: 120px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 90px;
}

footer {
    background-color: var(--color-grey);
    padding: 20px 10px;
}

footer a {
    color: var(--color-chocolate-black);
    margin: 0px 10px;
}

footer a:hover {
    color: black;
    border-bottom: 2px solid var(--color-chocolate-black);
}

footer u {
    font-size: small;
}


/* Tables and under */
@media(max-width: 500px){
    .grid,
    .grid-3 {
        grid-template-columns: 1fr;
    }

    .showcase {
        height: auto;
        text-align: center;
    }
    
    .image {
        width: 600px;
        margin-left: 80px;
    }
    
    .stats .flex{
        flex-direction: column;
    }
    
    .stats {
        text-align: center;
    }
    
    .stat {
        width: 100%;
        padding-right: 80px;
    }
    
    .circle {
        background-color: transparent;
        border: 3px solid var(--color-chocolate-black);
        height: 90px;
        position: relative;
        top: -30px;
        left: 270px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 90px;
    }
}




/* Mobile devices */
@media (max-width: 500px){
    .navbar {
        height: 100px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar a:hover {
        color: var(--color-chocolate-black);
        border-bottom: 2px solid black;
    }

    .navbar ul{
        background: transparent;
        border-radius: 5px;
        padding: 10px 0;
    }

    .showcase {
        height: auto;
        text-align: center;
    }

    .little-info {
        font-size: 13px;
    }

    .image {
        width: 350px;
        margin-left: 70px;
    }

    .stat {
        margin-bottom: 40px;
    }

    .circle {
        background-color: transparent;
        border: 3px solid var(--color-red);
        height: 90px;
        position: relative;
        top: -30px;
        left: 150px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 90px;
    }  
}