/* MADE BY MIKXINGU */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* WHITE TEXT THROUGHOUT */
 
body {
    font-family: "lato", sans-serif;
    color:#E9E3B4; 
}

/* Make all link text black with no text decoration */
a {
    color: #E9E3B4;
    text-decoration: none;
}

h1 {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.2;
}

h2 {
    font-size: 25px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

p {
    font-size: 30px;
}

/* All images must no be larger than parent container */
img{
    width: 100%;
}

/* No styling on list items */
li {
    list-style-type: none;
}

p {
    font-size: 20px;
    margin: 10px 0;
}

/* Centers it, sets a maximum width and makes sure elements can flow past it */

.container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: visible;
}

/* Sets background color, height and padding */
.navbar {
    background-color: #381D2A;
    height: 70px;
    padding: 0 30px;
}


/* Sets font size, reduces font weight, adds marging and line height */

.navbar h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.navbar ul {
    display: flex;
}

/* Changes the color of both links to white, adds padding between them and margin as well */
.navbar a {
    color: #E9E3B4;
    padding: 9px;
    margin: 0 10px;
}

.navbar a:hover {
    color: #F07F42;
    border-bottom: 3px solid #F39B6D;

}

.showcase {
    height: 300px;
    background-color: #381D2A;
}

.showcase p {
    margin-bottom: 30px;
}

.showcase img {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, .2);
}

.showcase-form {
    margin: auto;
    padding-left: 7px;
}

.little-info {
    font-size: 15px;
    font-family: "poppins", sans-serif;
}

.showcase input[type='email'] {
    padding: 10px 70px 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    padding-left: 6px;
}

.btn {
    border-radius: 6px;
    padding: 12px 20px;
    background: #F39B6D;
    border: none;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.grid {
    overflow: visible;
    display: grid;
    grid-template-columns: 60% 40%;
}

.grid-item-1,
.grid-item-2 {
    position: relative;
    top: 50px;
}

